{% extends "layout.html.twig" %}

{% block title %}Маршрут поезда{% endblock %}

{% block style %}
<link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
<style>
    #result {
        min-height: 300px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#routeForm').on('submit', function(event) {
            event.preventDefault();
            $('#result').html('');
            console.log($(this).serialize());
            var train = $('#train').val();
            $('#result').append('<div class="spinner-loader"></div>');
            $.get('/trains/travelInfo/' + train, $(this).serialize())
                .always(function(data) {
                    console.log(data);
                    $('.spinner-loader').remove();
                })
                .done(function(data) {
                    var header = '<tr><th>Остановка</th><th>Прибытие</th><th>Отправление</th></tr>';
                    var table = '<table id="routeTable" class="table table-striped table-bordered">' + header + '</table>';
                    $('#result').append(table);
                    var stops = data.route_list.stop_list;
                    console.log(stops);
                    for (var i in stops) {
                        var row = '<tr><td>' + 
                                stops[i].stop.charAt(0) + stops[i].stop.slice(1).toLowerCase() + 
                                '</td><td>' + stops[i].arrival_time + '</td><td>' + 
                                stops[i].departure_time + '</td></tr>';
                        $('#routeTable').append(row);
                    }
                })
                .fail(function(data) {
                    $('#result').text(data.responseJSON.message);
                });
        });
    });
</script>
{% endblock %}

{% block content %}
    <h1>Маршрут поезда</h1>
    <form class="form-horizontal" id="routeForm">
          <div class="form-group">
            <label class="col-sm-2 control-label">Поезд</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" 
                    id="train" placeholder="Пример: 016А">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Станция отправления</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="from"
                    id="from" placeholder="Пример: Москва">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Станция прибытия</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="to"
                    id="to" placeholder="Пример: Мурманск">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Дата отправления</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="date" name="date">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"
                    class="btn btn-default">Получить маршрут</button>
            </div>
          </div>
    </form>
    <div class="well" id="result"></div>
{% endblock %}
